<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css"></link>
    <title>My Industry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div name="app" id="app" class="app">
        
        <div class="navegation" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>            
        </div>

        <div class="menu">
            <div class="menu-titulo">
                <i class="fa fa-industry fa-2x" id= "logo" ></i>
                <h2> My Industry</h2>
            </div>
            <h2 class="link-menu">Dashboard</h2>
            <h2 class="link-menu">Gerenciamento</h2>
            <h2 class="link-menu">Senha</h2>
            <h2 class="link-menu">Log Out</h2>

        </div>
        
        <main>
           <div class="dashboard">

           </div>

           <div class="gerenciamento">

           </div>
        </main>

        <footer>
            Aqui está presente um produto único para sua empresa, para mais informações entre em contato pelo WhatsApp.
        </footer>
    </div>
    
    <script src="js/index.js"></script>
</body>
</html>