<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css"></link>
    <title>My Industry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
            
        <form class="form-log" method="POST" action="/login">
            <label class= "user-log" for="username">Nome de Usuário</label>
            <br>
            <input name="username" class="user-input" type="text">
            <br>
            <label class= "user-log" for="password">Senha</label>
            <br>
            <input name="password" class="user-input" type="text">
            <br>
            <input class="log-btn" type="submit" value="Entrar">
            <br>
            <h3 class ="link-menu">Cadastre sua empresa</h2>
        </form>

    </main>
</body>
</html>